<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_squared"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name="com.nmarsollier.fitfat.ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.measures.NewMeasureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.measures.ViewMeasureActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="im.dino.dbinspector.activities.DbInspectorActivity"
            android:exported="true">
            <intent-filter tools:node="removeAll">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e0cbac25caaa706225d67ee362a4db51e6e790ca" />

    </application>

</manifest>